body{
display: flex;
flex-direction: column;
}
.head{
    flex-basis: 10%;
    display: flex;
}
.navbar{
    flex-basis: 15%;
    display: flex;
}
.continue_watching{
    flex-basis: 20%;
    
}
